.App {
  position: fixed;
  margin: auto;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 24px;
  background-color: rgb(223 223 223);
  flex-direction: column;
  overflow: scroll;
  max-height: 90%;
  width: 80%;
}

.Wrapper {
  display: flex;
  justify-content: center;
  padding: 42px;
}


